target
data
.stack-work
.atomist.yml
dist-newstyle
dist
elm-stuff
assets/pix
assets/app.js
assets/app.css
frontend/src/Api.elm
backend/Version.hs
token_key.json
*.eventlog
*.profiterole.html
*.profiterole.txt
*.prof
.ghc.environment*
node_modules
