html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Exo 2', sans-serif;
}

body {
    background: #ccc;
    margin: 0;
}

#header {
    background: #2696a8;
    width: 100%;
    min-width: 1024px;
    height: 65px;
    margin: 0 auto;
}

#innerheader {
    max-width: 1024px;
    margin: 0 auto;
}


#container {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
}

#container h1 {
    background: #2696a8;
    color: white;
    font-size: 18px;
    padding: 5px 10px;

}

.section {
    background: white;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#dashboard {
    background-image: url(../img/robot.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    min-height: 150px;
}

#dashboard h1 {
    background: #56a826;
}

#innerdash {
    padding-left: 130px;
}

#nav {
}

#logo {
    padding-top: 10px;
    float: left;
}


.login {
}

.login .error {
    color: red;
}

table {
    width: 100%;
    padding: 0 20px;
}
