html, body {
    height: 100%;
    font-size: 16px;
}

.container {
    max-width: 990px;
    height: 100%;
}
.row {
    margin-bottom: 20px;
}

.form-inline .form-group {
    margin-right:4px;
}

.form-inline label {
    margin-right:4px;
}

#editor.container {
    max-width: 1500px;
}

#editor contentinput {
    padding-right: 5em;
    height: 100%;
}

#editor textarea.form-control {
    height: 100%;
    width: 100%;
}

/* Navbar customization */

.navbar-default {
  background-color: #d8ebb3;
  border-color: #90be5d;
}
.navbar-default .navbar-brand {
  color: #38772b;
  font-size: 25px;
  font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2c2b2b;
}
.navbar-default .navbar-text {
  color: #595b5b;
}
.navbar-default .navbar-nav > li > a {
  color: #595b5b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2c2b2b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2c2b2b;
  background-color: #c4dea7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2c2b2b;
  background-color: #c4dea7;
}
.navbar-default .navbar-toggle {
  border-color: #c4dea7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c4dea7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #595b5b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #595b5b;
}
.navbar-default .navbar-link {
  color: #595b5b;
}
.navbar-default .navbar-link:hover {
  color: #2c2b2b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #595b5b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2c2b2b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2c2b2b;
    background-color: #c4dea7;
  }
}

/* Tables */

/* Make sortable table icons more obvious */
th span {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}


/* Story tiles view */

.storytile {
    width: 150px;
    height: 135px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.storytile h3 {
    position: relative;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    background: none;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}


/* Story content styling */
.storytitle {
    background-color: #599323;
    color: #fff;
    text-align: center;
    padding: 5px;
}

#storyfooter {
    font-size: 14px;
    padding-top: 20px;
}

#storypic img {
    max-width: 100%;
}

.rightimage {
    float: right;
    padding: 0 0 20px 20px;
}

#printactivities {
    margin-top: 25px;
}

#printactivities h4 {
    margin-bottom: 6em;
    font-weight: bold;
}
/* The drawer */

#drawerbuttons button:hover {
    border-radius: 50%;
}

.connectbutton {
    background: #FFA830 url(img/connect.png); background-size: cover; border: 5px solid #FFA830;
}

.questionbutton {
    background: #EE5E56 url(img/question.png); background-size: cover; border: 5px solid #EE5E56;
}

.summarisebutton {
    background: #0A182B url(img/summarise.png); background-size: cover; border: 5px solid #0A182B;
}

.clarifybutton {
    background: #607DCB url(img/clarify.png); background-size: cover; border: 5px solid #607DCB;
}

/* The side drawer */
#drawer {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    transition: .25s ease-in-out;
    color: white;
}

#drawercontent {
    padding: 20px;
}

#toggle-drawer {
    position: absolute;
    opacity: 0;
}

#toggle-drawer:checked ~ #drawer {
    left: 0px;
}


.panelheader {
    background-color: white;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.closebutton {
    position: absolute;
    top: 5px;
    right: 5px;
}

#drawer h1 {
    background-color: white;
    font-size: 2em;
    color: black;
}

.connectpanel {
    background: rgba(255,168,48,1);
}

.summarisepanel{
    background: rgba(8,22,41,1);
}

.questionpanel {
    background: rgba(238,94,86,1);
}

.clarifypanel {
    background: rgba(96,125,203,1);
}

.dict-lookup {
    cursor: pointer;
}

.dict-defintion {
    overflow: hidden;
    width: 100%;
}

.dict-definition p {
    animation: 1s slide-left;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* Spinner, courtesy of http://tobiasahlin.com/spinkit/ */
.spinner {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* Story animation fade-in */

.u-selectable:hover {
    cursor: pointer;
    text-decoration: underline;
}

.u-fade-in {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    animation: fadeIn 0.7s linear forwards,
    slideDown 3s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    to {
        max-height: 2400px;
    }
}
