html {
}

.container {
    max-width: 900px;
}

.row {
    margin-bottom: 20px;
}
/* Story tiles view */

.storytiles {
    padding: 20px 30px;
    margin-bottom: 20px;
}

.storytile {
    width: 150px;
    height: 135px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.storytile h3 {
    position: relative;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    background: none;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}


/* Story content styling */

#storyfooter {
    font-size: 12px;
    padding: 20px;
}

#storypic img {
    max-width: 100%;
}

#drawerbuttons button:hover {
    border-radius: 50%;
}

.connectbutton {
    background: #FFA830 url(img/connect.png); background-size: cover; border: 5px solid #FFA830;
}

.questionbutton {
    background: #EE5E56 url(img/question.png); background-size: cover; border: 5px solid #EE5E56;
}

.summarisebutton {
    background: #0A182B url(img/summarise.png); background-size: cover; border: 5px solid #0A182B;
}

.clarifybutton {
    background: #607DCB url(img/clarify.png); background-size: cover; border: 5px solid #607DCB;
}


/* The side drawer */
#drawer {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    transition: .25s ease-in-out;
    color: white;
}

#drawercontent {
    padding: 20px;
}

#toggle-drawer {
    position: absolute;
    opacity: 0;
}

#toggle-drawer:checked ~ #drawer {
    left: 0px;
}


.panelheader {
    background-color: white;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.closebutton {
    position: absolute;
    top: 5px;
    right: 5px;
}

#drawer h1 {
    background-color: white;
    font-size: 2em;
    color: black;
}

.connectpanel {
    background: rgba(255,168,48,1);
}

.summarisepanel{
    background: rgba(8,22,41,1);
}

.questionpanel {
    background: rgba(238,94,86,1);
}

.clarifypanel {
    background: rgba(96,125,203,1);
}

.dict-lookup {
    cursor: pointer;
}
